<div class="inicio-wrapper">
    <!-- Heaader -->
    <header class="header">
        <div class="logo">
            <span><img src="/portaldealer-frontend/public/assets/imagenes/Solo_logoLogo.png" width="200"></span>
            <!--Debo reparar el pq no se muestran las imagenes-->
            <h1 class="title">PORTAL DEALER</h1>
        </div>
        <div class="acciones">
            <button mat-raised-button color="primary" [routerLink]="'/registro'">Registrarse</button>
            <button mat-raised-button color="primary">Acceder</button>
        </div>
    </header>

    <!-- Contenido principal -->
    <main class="contenido">
        <section class="imagen-texto">
            <div class="imagen-ficticia"></div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales
                magna turpis, ac malesuada leo sodales eget.
            </p>
        </section>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-left">
            © 2024 Portal Dealer. Todos los derechos reservados.
        </div>
        <div class="footer-right">
            <a href="#">Términos</a>
            <!--por definir, no se si pondremos terminos, privacidad y contacto(este probablemente si)-->
            <a href="#">Privacidad</a>
            <a href="#">Contacto</a>
        </div>
    </footer>
</div>